.App {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  height: 15vh;
  width: 100vw;
  background-color: tomato;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.nav-link:hover  {
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 5vw;
  font-size: 2em;
}



/* .login {
  margin-right: 2vw;
  font-size: 1.5em;
}

.signup {
  margin-right: 2vw;
  font-size: 1.5em;
} */