.App {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  height: 15vh;
  width: 100vw;
  background-color: tomato;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.navbar span {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  color: white;
}

.logo {
  /* position: absolute; */
  left: 5vw;
  font-size: 2em;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}